 <div class="header {% if site.header == "large" %}header--large{% endif %}">
     <div class="container">
         <span class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></span>
         <nav class="nav-collapse">
             <ul class="noList">
                 {%- for link in site.navigation -%}{%- assign current = nil -%}{%- if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' -%}{%- assign current = 'current' -%}{%- endif -%}
                 <li class="element {%- if forloop.first -%}first{%- endif -%} {{ current }} {%- if forloop.last -%}last{%- endif -%}">
                     <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                 </li> 
                 {%- endfor -%}
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
